@page "/Account/Manage/PersonalData"

@inject IdentityUserAccessor UserAccessor

<PageTitle>Persoonlijke Data</PageTitle>

<StatusMessage />
<h3>Persoonlijke Data</h3>

<div class="row">
    <div class="col-md-6">
        <p>Je account bevat persoonlijke data die je ons gegeven hebt. Deze pagina staat toe deze gegevens te downloaden of te verwijderen.</p>
        <p>
            <strong>Het verwijderen van de data zal jouw account permanent verwijderen, dit kan niet meer hersteld worden.</strong>
        </p>
        <form action="Account/Manage/DownloadPersonalData" method="post">
            <AntiforgeryToken />
            <button class="btn btn-primary" type="submit">Download</button>
        </form>
        <p>
            <a href="Account/Manage/DeletePersonalData" class="btn btn-danger">Verwijderen</a>
        </p>
    </div>
</div>

@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        _ = await UserAccessor.GetRequiredUserAsync(HttpContext);
    }
}
