<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="description" content="Website om alle schietscores in te registreren." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:image" content="https://www.jeugdsooswesepe.nl/-/img/2016/10/schieten.jpg" />
    <meta property="og:description" content="Registratie schietscores" />
    <meta property="og:url" content="https://www.laarlamberbus.nl/" />
    <meta property="og:title" content="Laarlamberbus" />

    <base href="/" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="Gilde.SchietScore.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script src="bootstrap/bootstrap.bundle.min.js"></script>
</body>
    
</html>
